@model JoBook.Models.User
    @{ ViewBag.Title = "User";}

<br />
<div class="container container-fluid">
    <div class="col-sm-10">
        <h6>@(JoBook.Services.Storage.Instance.userLogin.returnGreeting())</h6>
    </div>
    <div class="col-sm-10">
        <h1>@(JoBook.Services.Storage.Instance.userLogin.Nickname)</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Id</strong></span>@JoBook.Services.Storage.Instance.userLogin.IdUser</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Name</strong></span>@JoBook.Services.Storage.Instance.userLogin.Name</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Lastame</strong></span>@JoBook.Services.Storage.Instance.userLogin.Lastname</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Rol</strong></span>@JoBook.Services.Storage.Instance.userLogin.evaluateTypeUser()</li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-pane">
                <ul class="list-group">
                    <li class="list-group-item text-muted">Tasks</li>
                    <li class="list-group-item text-muted">Profile</li>
                    @if (JoBook.Services.Storage.Instance.queueTask.PeekTask() != null)
                    {
                        <li class="list-group-item text-right"><span class="float-left"><strong>Id Task</strong></span>@JoBook.Services.Storage.Instance.queueTask.PeekTask().Name</li>
                        <li class="list-group-item text-right"><span class="float-left"><strong>Name</strong></span>@JoBook.Services.Storage.Instance.queueTask.PeekTask().Description</li>
                        <li class="list-group-item text-right"><span class="float-left"><strong>Description</strong></span>@JoBook.Services.Storage.Instance.queueTask.PeekTask().Delivery</li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<br />